* {
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  padding: 0px;

}

#container {
  border: 2px solid black;
  margin: 20px auto;  
  width: 80%;
}

#header {  
  background-color: yellow;
  height: 150px;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
}

#leftContainer {
  background-color: grey;
  border: 2px solid black;
  color: aliceblue;
  float: left;
  height: 400px;
  width: 20%;
}

#centerContainer { 
  background-color: blue;
  border: 2px solid black;
  color: aliceblue;
  float: left;
  height: 400px;
  width: 60%;
}

.rightContainer { 
  background-color: violet;
  border: 2px solid black;
  color: aliceblue;
  float: left;
  height: 400px;
  width: 20%;
}

.pLeft {
  text-align: left;
}

.pCenterCen {
  text-align: center;
}

.pCenterJust {
  text-align: justify;
}

.pRight {
  text-align: right;
}

.footer {
  background-color: greenyellow;
  clear: both;
  float: none;
  height: 150px; 
  width: 100%;
}